useDynLib("rtiff", .registration = TRUE, .fixes = "C_")

import(pixmap)

export(
readTiff,
writeTiff,
autoThreshold,
newPixmapRGB,
updateDescription,
getDescription,
plot.matrix)

S3method(plot, matrix)
